TEST_ENV="local"
BROWSERSTACK_USERNAME=""
BROWSERSTACK_ACCESS_KEY=""
EMULATOR_ID=""
ANDROID_APP_PATH="apps/android.wdio.native.app.v2.2.0.apk"
IOS_APP_PATH="apps/ios.simulator.wdio.native.app.v2.2.0.zip"
